{% load static %} {% block content %}
<nav
  class="pagination is-centered is-rounded is-small"
  role="navigation"
  aria-label="pagination"
>
  <a class="pagination-previous">Anterior</a>

  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><a class="pagination-link" aria-label="Goto page 86">2</a></li>
    <li><a class="pagination-link" aria-label="Goto page 86">3</a></li>
  </ul>
  <a class="pagination-next">Próximo</a>
</nav>

{% endblock content %}
